.cursor-pointer {
  width: var( --cursor-size );
  height: var( --cursor-size );
  position: absolute;
  border-radius: var( --custom-borderRadius, 50% );
  border: var( --custom-borderStyle, solid ) var( --custom-borderWidth, 1px ) var( --custom-borderColor, black );
  background-color: var( --custom-backgroundColor, rgba( 0, 0, 0, 0 ) );
  opacity: var( --custom-opacity, 1 );
  transform: translate( -50%, -50% ) scale( var( --custom-scale, 1 ) );
  display: var( --custom-display, block );
  filter: var( --custom-shadowFilter );
}
